# Sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Ambientes
.env
.env.*.local

# Compilação
dist/
build/
out/

    